.header__row {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  
  .header__content {
    position: absolute;
  
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 670px;
  }
  .header__title {
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 96px;
    margin-bottom: 20px;
    color: #000000;
  }
  .header__text {
    font-family: "Noto Sans", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 60px;
  }
  